@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans:400,400i');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('dust_scratches.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  padding-top: 55px;
}

.navbar {
  background: image_url('footer_lodyas.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
}

.navbar-inverse .navbar-brand {
  color: #7658ED;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
}

.pagination {
  /*background: white;*/
  cursor: default;
  /*height: 22px;*/
  padding: 0 0 10px;
  justify-content: center;
  /*margin: auto;*/
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.pagCenter {
  max-width: 600px;
  margin: auto;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.help-block:first-letter {
  text-transform: uppercase;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-top: 20px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.picButton {
  margin-right: 5px;
}

.picText {
  font-size: 20px;
}

/*For the images in the show and index page to display inline*/
div.thumbnail {
  width: 100%;
  max-width: 270px;
  height: 270px;
  overflow:hidden;
}
div.thumbnail img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
  /*This maintains the ratio width heighth but creates white space around image*/
  /*object-fit: contain;*/
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
 }


/*This stops text from floating on top of picture when shrinking screen size on index add weird arrow thingies*/ 
 /*.divindex {
    resize: both;
    overflow: auto;
}*/

.invertedColor {
  background-color: black;
  color: white;
}

blockquote.index-comment {
  padding-left: 5px;
  margin-left: 0;
}

div.no-padding {
  padding-left: 0;
  margin-left: 75px;
}

div h1 a {
  color: #7658ED;
}

@media only screen and (max-width: 479px) { 
    button.picButton {
    margin-top: 5px;
  }
}

.add-image {
    position: absolute;
    left: 15px;
    width: 128px;
    text-align: center;
    height: 128px;
    top: 120px;
    right: 333px;
    left: 43px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 110%;
}

div.profile-image {
  width: 100%;
  max-width: 180px;
  height: 180px;
  overflow:hidden;
}

div.profile-image img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.h5-no-margin-top {
  margin-top: -22px;
}

.place-link {
  color: #7658ED;
}

.profile-pic img{
  position: relative;
    width: 35px;
    height: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #7658ED;
    cursor: pointer;
}

.link-color {
  color: #7658ED;
}

ul.dropped-down {
  right: 10%;
  left: auto;
  padding-left: 10px;
}

li.welcome {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5em 1em;
}

@media only screen and (max-width: 575px) { 
    li.welcome {
    display: none;
  }
}

div.caption-button {
/*  bottom: 30%;
  left: 50%;
*/  
max-width: 100%;
position: absolute;
z-index: 700;
bottom: 27vw;
left: 42vw;

-webkit-border-radius: .5vw;


  background-color: unset;

}

.different-color-button {
  background: #7658ED;
}

@media only screen and (max-width: 575px) { 
    li.profile-pic {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 15px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    }
}

@media only screen and (max-width: 575px) { 
    a.dropdown-toggle::after {
      position: absolute;
  top: 15px;
  right: -13px;

}
}



div.blah{
  bottom: 70%;
  width: 40%;
  left: 30%;
  background-color: unset;
  z-index: 5;
}

@media only screen and (max-width: 529px) { 
    div.blah {
    bottom: 30%;
  width: 40%;
  left: 25%;
  z-index: 5;
  }
}

@media only screen and (min-width: 530px) and (max-width: 800px) { 
    div.blah {
    bottom: 50%;
  width: 40%;
  left: 30%;
  z-index: 5;
  }
}

div.caption {
  width: 100%;
  
  background-color: purple;
  word-wrap: break-word;
}

div.wid {
  width: 100%;
  max-width: 100%;
}















 
















